html {
    height: 100vh;
    margin: 0;
    font-size: 12PX !important;
    background-color: #f2f2f2 !important;
}

body {
    height: 100vh;
    margin: 0;
    font-size: 12PX !important;
    background-color: #f2f2f2 !important;
    font-family: "Hiragino Sans GB","Microsoft YaHei",Arial-normal,"open sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

a {
    color: black;
}